@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
    var career = Umbraco.AssignedContentItem as Career;
}
<!-- Phần header của main -->
<section class="section section-parallax parallax custom-parallax-medium-padding m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="@career.BannerImage.MediaUrl()">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-uppercase text-color-light font-weight-bold text-center m-0">@career.BannerTitle</h1>
            </div>
        </div>
    </div>
</section>

<!-- phần nội dung chính -->
<div class="container py-5 mt-3">
    @Html.GetBlockListHtml(career.Content)


</div>

<section class="section section-default border-0 m-0">
    <div class="container py-4">

        <div class="row pb-4">
            <div class="col-md-8">
                <div class="appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <h4 class="mt-2 mb-2">Current <strong>Openings</strong></h4>

                    <div class="accordion accordion-modern accordion-modern-grey-scale-1 without-bg mt-4" id="accordion11">
                        @foreach (JobDescription item in career.CurrentOpenings)
                        {
                            bool isdisplay = career.CurrentOpenings.IndexOf(item) == 0 ? true : false;
                            <div class="card card-default mb-2">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle text-3" data-toggle="collapse" data-parent="#accordion11" href="#collapse11@(career.CurrentOpenings.IndexOf(item))" aria-expanded="@(isdisplay)">
                                            @item.Name: @item.Value("quantity")
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse11@(career.CurrentOpenings.IndexOf(item))" class="collapse" style="">
                                    <div class="card-body mt-3">
                                        @Html.Raw(item.Value(nameof(JobDescription.Content).ToSafeAlias()))
                                        <a href="#" class="btn btn-modern btn-dark">@item.Value(nameof(JobDescription.ButtonText).ToSafeAlias())</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="400" style="animation-delay: 400ms;">
                    <div class="owl-carousel owl-theme dots-inside mb-0 pb-0 owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1, 'autoplay': true, 'autoplayTimeout': 4000, 'margin': 10, 'animateOut': 'fadeOut', 'dots': false}"
                         style="height: auto;">


                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-1080px, 0px, 0px); transition: all 0s ease 0s; width: 2160px;">
                                <div class="owl-item cloned" style="width: 350px; margin-right: 10px;">
                                    <div class="pb-5">
                                        @*<img alt="" class="img-fluid rounded box-shadow-3" src="/img/generic/generic-corporate-3-2-full.jpg">*@
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 350px; margin-right: 10px;">
                                    <div class="pb-5">
                                        @*<img alt="" class="img-fluid rounded box-shadow-3" src="/img/generic/generic-corporate-3-3-full.jpg">*@
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 350px; margin-right: 10px;">
                                    <div class="pb-5">
                                        @*<img alt="" class="img-fluid rounded box-shadow-3" src="/img/generic/generic-corporate-3-2-full.jpg">*@
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 350px; margin-right: 10px;">
                                    <div class="pb-5">
                                        @*<img alt="" class="img-fluid rounded box-shadow-3" src="/img/generic/generic-corporate-3-3-full.jpg">*@
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 350px; margin-right: 10px;">
                                    <div class="pb-5">
                                        @*<img alt="" class="img-fluid rounded box-shadow-3" src="/img/generic/generic-corporate-3-2-full.jpg">*@
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 350px; margin-right: 10px;">
                                    <div class="pb-5">
                                        @*<img alt="" class="img-fluid rounded box-shadow-3" src="/img/generic/generic-corporate-3-3-full.jpg">*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"></button></div>
                        <div class="owl-dots disabled"></div>
                    </div>

                    <div class="toggle toggle-primary toggle-simple" data-plugin-toggle="">
                        <section class="toggle">
                            <label>Our Benefits</label>
                            <div class="toggle-content" style="display: none;">
                                <p>
                                    <ul>
                                        @Html.Raw(career.OurBenefits)
                                    </ul>
                                </p>
                            </div>
                        </section>
                        <section class="toggle">
                            <label>Our Culture</label>
                            <div class="toggle-content" style="display: none;">
                                <p>
                                    <ul>
                                        @Html.Raw(career.OurCulture)
                                    </ul>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- kết thúc phần nội dung chính -->