@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var slider = Model.SliderItems as IEnumerable<SliderItem>;
}
<div class="slider-container rev_slider_wrapper" style="height: 800px;">
    <div id="revolutionSlider" class="slider rev_slider manual" data-version="5.4.8">
        <ul>
            @foreach (SliderItem item in slider)
            {
                if (item.TextAlign == "Left")
                {
                    <li data-transition="fade">
                        <img src="@item.Image.MediaUrl()" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

                        <h1 class="tp-caption text-uppercase font-weight-bold" data-x="left" data-hoffset="['15', '15', '35', '35']" data-y="center" data-voffset="-40" data-start="800" data-fontsize="40" style="letter-spacing: -2px;"
                            data-transform_in="y:[-300%];opacity:0;s:500;">
                            @item.Title
                        </h1>

                        <div class="tp-caption text-uppercase" data-x="left" data-hoffset="['15', '15', '35', '35']" data-y="center" data-voffset="0" data-start="1200" data-fontsize="22" data-transform_in="y:[-300%];opacity:0;s:500;">@item.Description</div>

                        <a class="tp-caption btn btn-primary custom-btn-style-1 text-uppercase font-weight-semibold" data-x="left" data-hoffset="['15', '15', '35', '35']" data-y="center" data-voffset="70" data-start="1500"
                           data-fontsize="['12', '12', '12', '22']" href="service.html" data-transform_in="y:[-300%];opacity:0;s:500;">@item.Button</a>
                    </li>
                }
                else
                {
                    <li data-transition="fade">
                        <img src="@item.Image.MediaUrl()" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

                        <h1 class="tp-caption text-uppercase font-weight-bold" data-x="right" data-hoffset="['15', '15', '35', '35']" data-y="center" data-voffset="-40" data-start="800" data-fontsize="40" style="letter-spacing: -2px;"
                            data-transform_in="y:[-300%];opacity:0;s:500;">
                            @item.Title
                        </h1>
                        <div class="tp-caption text-uppercase" data-x="right" data-hoffset="['15', '15', '35', '35']" data-y="center" data-voffset="0" data-start="1200" data-fontsize="22" data-transform_in="y:[-300%];opacity:0;s:500;">@item.Description</div>

                        <a class="tp-caption btn btn-primary custom-btn-style-1 text-uppercase font-weight-semibold" data-x="right" data-hoffset="['15', '15', '35', '35']" data-y="center" data-voffset="70" data-start="1500"
                           data-fontsize="['12', '12', '12', '22']" href="contact.html" data-transform_in="y:[-300%];opacity:0;s:500;">@item.Button</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>

<div id="home-intro" class="home-intro custom-home-intro bg-color-secondary m-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 mb-3 mb-lg-0">
                <p class="text-color-light my-1">
                    We have solution for your IT problems and support your business to grow in digital age.<br>
                    <span class="text-color-primary d-inline-block pt-0">Learn more about our services</span>
                </p>
            </div>
            <div class="col-lg-4 text-left text-lg-right">
                <a href="service.html" class="btn btn-primary custom-btn-style-1 text-uppercase font-weight-semibold">read more</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 p-0">
            <section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}"
                     data-image-src="img/demos/finance/parallax/parallax-1.jpg" style="min-height: 315px;">
            </section>
        </div>
        <div class="col-lg-6 p-0">
            <section class="section section-no-border h-100 m-0">
                <div class="row m-0">
                    <div class="col-half-section col-half-section-left">
                        <h2 class="text-uppercase mt-2 font-weight-bold">SOFTWARE SERVICES</h2>
                        <p class="text-4 text-color-dark">Software development and outsourcing</p>
                        <p class="custom-text-color-1 mb-4">
                            Base on your requirements, we can provide a ready-to-use solution or develop a unique software solution for your business. We can also provide experts to solve your IT problems on site as
                            requested

                        </p>
                        <a href="service.html" class="btn btn-outline btn-primary custom-btn-style-2 font-weight-semibold text-color-dark text-uppercase mt-2">Read More</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 order-2 order-lg-1 p-0">
            <section class="section section-no-border h-100 m-0">
                <div class="row justify-content-end m-0">
                    <div class="col-half-section col-half-section-right custom-text-align-right">
                        <h2 class="text-uppercase mt-2 font-weight-bold">ICT HARDWARE SUPPLIER</h2>
                        <p class="text-4 text-color-dark">Wide range of hardware brands</p>
                        <p class="custom-text-color-1 mb-4">Despite of your budget, we always have the bills that fit</p>
                        <a href="service.html" class="btn btn-outline btn-primary custom-btn-style-2 font-weight-semibold text-color-dark text-uppercase mt-2">Read More</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 p-0">
            <section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="img/demos/finance/parallax/parallax-2.jpg" style="min-height: 315px;">
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 p-0">
            <section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}"
                     data-image-src="img/demos/finance/parallax/parallax-3.jpg" style="min-height: 315px;">
            </section>
        </div>
        <div class="col-lg-6 p-0">
            <section class="section section-no-border h-100 m-0">
                <div class="row m-0">
                    <div class="col-half-section col-half-section-left">
                        <h2 class="text-uppercase mt-2 font-weight-bold">Getting Started</h2>
                        <p class="text-4 text-color-dark">Let's talk</p>
                        <p class="custom-text-color-1 mb-4">We can speak Vietnamese, English, Chinese. Don’t hesitate to drop us an email.</p>
                        <a href="contact.html" class="btn btn-outline btn-primary custom-btn-style-2 font-weight-semibold text-color-dark text-uppercase mt-2">Do it now</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<section class="section section-no-border section-primary custom-section-spacement-1 m-0">
    <div class="container">
        <div class="row justify-content-center counters custom-counters counters-text-light">
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="counter text-center">
                    <span data-to="5">0</span>
                    <span class="custom-text-color-2">Years in Business</span>
                </div>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="counter text-center">
                    <span data-to="20" data-append="+">0</span>
                    <span class="custom-text-color-2">Clients and Partners</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="counter text-center">
                    <span data-to="15">0</span>
                    <span class="custom-text-color-2">Delivered project</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-no-border custom-section-spacement-1 bg-color-tertiary m-0">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h2 class="text-uppercase text-color-dark font-weight-bold">Why choose us?</h2>
                <h2><br></h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 mb-4 mb-md-0">
                <img src="img/why-choose-us-icon-people.png" class="img-fluid custom-center-img-fluid mb-3" alt />
                <h4 class="text-uppercase font-weight-bold mb-4">People</h4>
                <p class="custom-text-color-1 mb-0">Our people is strong with Mirosoft technology that can help customer to deploy solution quickly and get benefit soon.</p>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <img src="img/why-choose-us-icon-process.png" class="img-fluid custom-center-img-fluid mb-3" alt />
                <h4 class="text-uppercase font-weight-bold mb-4">Process</h4>
                <p class="custom-text-color-1 mb-0">Our process is simple and result oriented. We can flexible apply customer’s process to meet customer audit requirements.</p>
            </div>
            <div class="col-md-4">
                <img src="img/why-choose-us-icon-value.png" class="img-fluid custom-center-img-fluid mb-3" alt />
                <h4 class="text-uppercase font-weight-bold mb-4">Value</h4>
                <p class="custom-text-color-1 mb-0">We do not provide cheapest solution to customer but rather showing the best value over cost so customer can get the most</p>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 p-0">
            <section class="section section-no-border custom-section-spacement-1 bg-color-primary h-100 m-0">
                <div class="row justify-content-end m-0">
                    <div class="col-half-section col-half-section-right">
                        <h2 class="text-uppercase text-color-light font-weight-bold">We call you back</h2>
                        <p class="text-4 custom-text-color-2 mb-3">Request a Call</p>
                        <!-- nhân sửa lại đoạn này để có thể lưu dữ liệu được -->
                        <form id="callSendMessage" class="contact-form custom-form-style" action="php/contact-form.php" method="POST">
                            <div class="contact-form-success alert alert-success d-none mt-4" id="contactFormSuccess">
                                <strong>Success!</strong> Your message has been sent to us.
                            </div>

                            <div class="contact-form-error alert alert-danger d-none mt-4" id="contactFormError">
                                <strong>Error!</strong> There was an error sending your message.
                                <span class="mail-error-message text-1 mt-2 d-block" id="contactFormErrorMessage"></span>
                            </div>

                            <input type="hidden" name="subject" value="Contact Message Received" />
                            <div class="form-content">
                                <div class="form-control-custom custom-sm-margin-bottom-2">
                                    <i class="icon-user icons"></i>
                                    <input type="text" class="form-control" name="name" placeholder="Your Name *" data-msg-required="This field is required." id="name" required="" />
                                </div>
                                <div class="form-control-custom custom-sm-margin-bottom-2">
                                    <i class="icon-screen-smartphone icons"></i>
                                    <input type="text" class="form-control" name="phone" placeholder="Your Phone *" data-msg-required="This field is required." id="phone" required="" />
                                </div>
                                <div class="form-control-custom custom-sm-margin-bottom-2">
                                    <i class="icon-envelope icons"></i>
                                    <input type="text" class="form-control" name="email" placeholder="Your Email *" data-msg-required="This field is required." id="email" required="" />
                                </div>
                                <div class="form-control-custom custom-sm-margin-bottom-2">
                                    <i class="icon-bubbles icons"></i>
                                    <input type="text" class="form-control" name="discuss" placeholder="I would like to discuss *" data-msg-required="This field is required." id="discuss" required="" />
                                </div>
                                <!-- Sửa type input lại bằng submit sau khi sửa code-->
                                <input type="button" class="btn custom-btn-style-1 custom-btn-padding-1 custom-btn-bg-color-1 text-color-light text-uppercase font-weight-semibold outline-none mt-4" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 p-0">
            <section class="section section-no-border custom-section-spacement-1 bg-color-secondary overflow-hidden custom-background-image-1 h-100 m-0">
                <div class="row m-0">
                    <div class="col-half-section col-half-section-left">
                        <h2 class="text-uppercase text-color-light font-weight-bold">Let's Talk Business</h2>
                        <p class="text-4 custom-text-color-2 mb-4">Talk to a Consultant</p>
                        <p class="custom-text-color-2 custom-padding-right-1 mb-4">We want to listen to your business issue and ready to work for a solution that meets your requirement.</p>
                        <a href="tel:02822508707" class="text-decoration-none">
                            <span class="feature-box custom-feature-box custom-opacity-effect-1 mb-3">
                                <span class="feature-box-info">
                                    <label class="font-weight-semibold text-uppercase text-color-light pb-1">Call us Now</label>
                                    <strong class="font-weight-normal custom-text-color-2">028 2250 8707</strong>
                                </span>
                            </span>
                        </a>
                        <a href="mailto:hello@carp.vn" class="text-decoration-none">
                            <span class="feature-box custom-feature-box custom-opacity-effect-1 mb-3">
                                <span class="feature-box-info">
                                    <label class="font-weight-semibold text-uppercase text-color-light pb-1">Send an Email</label>
                                    <strong class="font-weight-normal custom-text-color-2">hello@carp.vn</strong>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
